@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.logo {
    color: white;
    font-family: 'Roboto', 'Lato', 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-size: 20px;
}

.nav-bar button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Lato', 'Times New Roman', Times, serif;
    transition: all ease .3s;
}

.nav-bar button:hover {
    color: rgba(255, 255, 255, 0.607);
    cursor: pointer;
}

.margin-only-left {
    margin: 0 15px 0 30px;
}

.margin-only-right {
    margin: 0 30px 0 15px;
}

.nav-bar-buttons button {
    background-color: #0583F2;
    color: white;
    border: none;
    padding: 4px 12px;
    border-radius: 50px;
    transition: all ease .3s;
}

.nav-bar-buttons button:hover {
    background-color: #0583f2c2;
    cursor: pointer;
}
